2DTask/Library/
2DTask/Logs/
2DTask/Packages/
2DTask/ProjectSettings/
2DTask/Temp/
2DTask/UserSettings/
2DTask/.vsconfig
2DTask/2DTask.sln
2DTask/obj/Debug/
2DTask/.vs/2DTask/FileContentIndex/
2DTask/.vs/2DTask/v17/.suo
2DTask/.vs/2DTask/v17/
